<%- include('../partials/head',{styles:['formCreationProduct']}) %>

    <body>
        <%- include('../partials/header') %>
            <div class="titulo">
                <h1>Estas editando el producto <%= product.id %></h1>
            </div>
            <main class="main">

                <form action="" method="post"  action="/editProduct/<%= product.id %>?_method=PUT" enctype="multipart/form-data">

                    <div class="formulario">
                        <div class="divEdit">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Nombre del producto:" name="nombreProducto"
                                class="input-control" id="name" value="<%= product.name %>">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Descripción del producto" name="descripcionProducto"
                                class="input-control" id="description" value="<%= product.description %>">
                        </div>
                        <div class="controlFoto">
                            <h5>Foto del producto</h5>
                            <input type="file" placeholder="Foto del producto" name="image" id="image"
                                class="inputFoto" id="image" value="<%= product.image %>">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Colores del producto:" name="coloresProducto"
                                class="input-control" id="colores"value="<%= product.color %>">
                        </div>
                        <div class="control-for">
                            <input type="text" placeholder="Precio del producto:" name="precioProducto"
                                class="input-control" id="price" value="<%= product.price %>">
                        </div>
                        <div class="boton-guardar">

                            
                            <button type="submit" class="botonGuardar">GUARDAR</button>
                            <button type="delete" class="botonBorrar">BORRAR</button>
                        </div>
                    </div>
                </form>
            </main>

            <%- include('../partials/footer') %>
    </body>