<%- include('../partials/head',{styles:['formCreationProduct']}) %>

    <body>
        <%- include('../partials/header') %>
            <div class="titulo">
                <h1>Estas editando <%= product.name %>
                </h1>
            </div>
            <main class="mainEdit">

                <form method="post" action="/editProduct/<%= product.id %>?_method=PUT" enctype="multipart/form-data">

                    <div class="formularioEdit">
                        <div class="divEdit">
                            <div class="div-name-color">
                                <div class="nameProduct">
                                    <label class="labelEdit">Nombre del producto</label>
                                    <input type="text" name="name" class="inputEdit" id="name"
                                        value="<%= product.name %>">
                                </div>
                                <div class="colorProduct">
                                    <label class="labelEdit">Color</label>
                                    <input type="text" name="color" class="inputEdit" id="color"
                                        value="<%= product.color %>">
                                </div>
                            </div>
                            <div class="price-discount">
                                <div class="priceProduct">
                                    <label class="labelEdit">Precio del producto</label>
                                    <input type="text" name="price" class="inputEdit" id="price"
                                        value="<%= product.price %>">
                                </div>
                                <div class="discountProduct">
                                    <label class="labelEdit">Descuento</label>
                                    <input type="text" name="discount" class="inputEdit" id="discount"
                                        value="<%= product.discount %>">
                                </div>
                            </div>
                            <div class="controlFoto">
                                <label class="labelEdit">Foto del producto</label>
                                <input type="file" placeholder="Foto del producto" name="image" id="image"
                                    class="inputEdit" id="image" value="<%= product.image %>">
                            </div>
                            <div class="divDescriptionProduct">
                                <label for="description" class="labelEdit">Descripción</label>
                                <textarea name="description" class="descriptionProduct"
                                    id="description"><%= product.description %></textarea>

                            </div>

                            <div class="boton-guardar">


                                <button type="submit" class="botonGuardar">GUARDAR</button>
                                <button type="delete" class="botonBorrar">BORRAR</button>
                            </div>
                        </div>
                    </div>
                </form>
            </main>

            <%- include('../partials/footer') %>
    </body>