<%- include('../partials/head',{styles:['home']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h2>Basado en las últimas visitas</h2>
                
                <div class="ofertas">
                    <% visited.forEach((product) => { %>
                    <div class="ofertasBloques">
                        <div class="bloque1">
                            <div class="articulo-horno">
                                <a href="/productdetail/<%= product.id %>">
                                    <div class="horno"><img src="images/products/<%= product.image %>"> </div>
                                    <div class="relative-horno">
                                        <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                        <div class="precio-descuento">
                                            <div class="precios"><%= product.price %></div>
                                            <div class="desc">40% OFF</div>
                                        </div>
                                        <div class="descripcion"><%= product.name %></div>
                                    </a>
                                </div>
                                <% }) %>
                        </div>
                    </div>
                        
                </div>
                    <h2>Ofertas</h2>
                    <% inSale.forEach((product) => { %>
                        <div class="ofertasBloques">
                            <div class="bloque1">
                                <div class="articulo-horno">
                                    <a href="/productdetail/<%= product.id %>">
                                        <div class="horno"><img src="images/products/<%= product.image %>"> </div>
                                        <div class="relative-horno">
                                            <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                            <div class="precio-descuento">
                                                <div class="precios"><%= product.price %></div>
                                                <div class="desc">40% OFF</div>
                                            </div>
                                            <div class="descripcion"><%= product.name %></div>
                                        </a>
                                    </div>
                                    <% }) %>
                            </div>
                        </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>