<%- include('../partials/head',{styles:['home']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h2>Basado en las últimas visitas</h2>
                
                <div class="ofertas">
                    <% visited.forEach((product) => { %>
                    <div class="ofertasBloques">
                        <div class="bloque1">
                            <div class="articulo-horno">
                                <a href="/product/productdetail/<%= product.id %>"></a>
                                <div class="horno"><img src="images/products/<%= product.image %>"> </div>
                                <div class="relative-horno">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios"><%= product.price %></div>
                                        <div class="desc">40% OFF</div>
                                    </div>
                                    <div class="descripcion"><%= product.name %></div>
                                </div>
                                <% }) %>
                            </div>


                            <div class="articulo-laptop">
                                <div class="laptop"><img src="images/products/laptop.jpg"></div>
                                <div class="relative-laptop">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$230.000</div>
                                        <div class="desc">20% off</div>
                                    </div>
                                    <div class="descripcion">Laptop Pro 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="bloque2">
                            <div class="articulo-samsung">
                                <div class="samsung"><img src="images/products/img-samsung-galaxy-s10.jpg"></div>
                                <div class="relative-samsung">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$70.500</div>
                                        <div class="desc">10% off</div>
                                    </div>
                                    <div class="descripcion">Samsung Galaxy S10</div>
                                </div>
                            </div>
                            <div class="articulo-tv">
                                <div class="tv"><img src="images/products/img-tv-samsung-smart.jpg"></div>
                                <div class="relative-tv">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$23.200</div>
                                        <div class="desc">5% off</div>
                                    </div>
                                    <div class="descripcion">SmartTv Samsung 43"</div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <h2>Ofertas</h2>
                    <div class="ofertasBloques">
                        <div class="bloque1">
                            <div class="articulo-horno">
                                <div class="horno"><img src="images/products/horno.jpeg"></div>
                                <div class="relative-horno">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$6.770</div>
                                        <div class="desc">40% OFF</div>
                                    </div>
                                    <div class="descripcion">Horno microondas</div>
                                </div>
                            </div>

                            <div class="articulo-laptop">
                                <div class="laptop"><img src="images/products/laptop.jpg"></div>
                                <div class="relative-laptop">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$230.000</div>
                                        <div class="desc">20% off</div>
                                    </div>
                                    <div class="descripcion">Laptop Pro 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="bloque2">
                            <div class="articulo-samsung">
                                <div class="samsung"><img src="images/products/img-samsung-galaxy-s10.jpg"></div>
                                <div class="relative-samsung">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$70.500</div>
                                        <div class="desc">10% off</div>
                                    </div>
                                    <div class="descripcion">Samsung Galaxy S10</div>
                                </div>
                            </div>
                            <div class="articulo-tv">
                                <div class="tv"><img src="images/products/img-tv-samsung-smart.jpg"></div>
                                <div class="relative-tv">
                                    <div class="img-envio"><i class="fa-solid fa-truck"></i></div>
                                    <div class="precio-descuento">
                                        <div class="precios">$23.200</div>
                                        <div class="desc">5% off</div>
                                    </div>
                                    <div class="descripcion">SmartTv Samsung 43"</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>