<%- include('../partials/head',{styles:['home']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h2>Listado de productos</h2>
                <% products.forEach((product) => { %>
                    <div class="col-12 col-sm-6 col-lg-3">
                        <section class="product-box">
                            <a href="/productdetail/<%= product.id %>">
                                <figure class="product-box_image">
                                    <img src="/images/products/<%= product.image %>" alt="imagen de producto">
                                </figure>
                                <div class="product-box_data">
                                    <h3>$<%= product.price %></h3>
                                    <span class="descuento"><%= product.discount %> % OFF</span>
                                    <p><%= product.name %></p>
                                    <i class="fas fa-truck"></i>
                                </div>
                            </a>
                        </section>
                    </div>
                    <% }) %>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>