<%- include('../partials/head',{styles:['cardUser']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <% users.forEach(users=> { %>
                <div class="container">
                   <a href="editUser">
                    <div class="img-user">
                        <img class="img-user" src="<%= users.image %>">
                    </div>
                    <div class="container-information">
                        <div class="id"><%= users.id_user %></div>
                        <div class="name"><%= users.first_name %></div>
                        <div class="lastname"><%= users.last_name %></div>
                        <div class="phone"><%= users.phone %></div>
                        <div class="email"><%= users.email %></div>
                    </div>
                </a>
            </div>
            
            <% }); %>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>