<%- include('../partials/head',{styles:['editUser']}) %>

    <body>
        <%- include('../partials/header') %>
            <main class="editUser">
                <div class="overlay" id="overlay">
                    <div class="formularioRegistro" id="formularioRegistro">
                        <form class="form-horizontal" action="/detail/edit/<%= User.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                            <div class="col-12">
                                <h2 class="products-title">Estás editando: Usuario <%= User.id %></h2>
                            </div>
                            <div class="divNombreApellido">
                                <div class="nombre">
                                    <label>Nombres:</label>
                                    <input type="text" name="first_name" id="first_name" class="input-control" value="<%= User.first_name %>"> 
                                </div>
                                <div class="apellido">
                                    <label>Apellidos:</label>
                                    <input type="text" name="last_name" id="last_name" class="input-control" value="<%= User.last_name %>"> 
                                </div>
                            </div>
                            <div class="container">
                            <div class="celular">
                                <label>Celular:</label>
                                <input type="number" name="phone" id="phone" class="input-control" value="<%= User.phone %>">
                            </div>
                            <div class="idUser">
                                <label>Identificación:</label>
                                <input type="number" id="dni" name="dni" class="input-control" value="<%= User.dni %>">
                            </div>
                            <div class="img-edit">
                                <label for="image" class="form-label">Imagen:</label>
                                <input type="file" id="image" name="image" class="form-input">
                            </div>
                        </div>
                            <div class="divCorreoContrasena">
                                <div class="correo">
                                    <label>Correo:</label>
                                    <input type="email" name="email" id="email"  class="input-control" value="<%= User.email %>">
                                </div>
                                <div class="contrasena">
                                    <label>Contraseña:</label>
                                    <input type="password" name="password" id="password" class="input-control" value="<%= User.password %>">
                                </div>
                            </div>
                           
    
                            <div class="boton-guardar">
                                <button type="submit" class="boton-formulario">GUARDAR</button>
                            </div>
                        </form>
                    </div>
                </div>

            </main>
            <%- include('../partials/footer') %>
    </body>

</html>