<%- include('../partials/head',{styles:['register']}) %>

    <body>
        <%- include('../partials/header') %>
            <div class="overlay" id="overlay">
                <div class="formularioRegistro" id="formularioRegistro">
                    <form class="form-horizontal" method="POST" action="/register" enctype="multipart/form-data">
                        <h2>Completa tus datos</h2>
                        <div class="divNombreApellido">
                            <div class="nombre">
                                <label>Nombres:</label>
                                <div>
                                    <input type="text" name="first_name" id="first_name" class="input-control" <% locals.errors && errors.file ? 'is-invalid': null%>" value="<%= locals.oldData ? oldData.first_name : null %>">
                                    <p class="error-message" id="error-first_name"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.first_name) { %>
                                        <%= errors.first_name.msg %>
                                            <% }%>
                                </div>
                            </div>
                            <div class="apellido">
                                <label>Apellidos:</label>
                                <div>
                                    <input type="text" name="last_name" id="last_name" class="input-control" value="<%= locals.oldData ? oldData.last_name : null %>">
                                    <p class="error-message" id="error-last_name"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.last_name) { %>
                                        <%= errors.last_name.msg %>
                                            <% }%>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="celular">
                                <label>Celular:</label>
                                <div>
                                    <input type="number" name="phone" id="phone" class="input-control" value="<%= locals.oldData ? oldData.phone : null %>">
                                    <p class="error-message" id="error-phone"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.phone) { %>
                                        <%= errors.phone.msg %>
                                            <% }%>
                                </div>
                            </div>
                            <div class="idUser">
                                <label>Identificación:</label>
                                <div>
                                    <input type="number" id="dni" name="dni" class="input-control" value="<%= locals.oldData ? oldData.dni : null %>">
                                    <p class="error-message" id="error-dni"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.dni) { %>
                                        <%= errors.dni.msg %>
                                            <% }%>
                                </div>
                            </div>
                            <div class="img-edit">
                                <label for="image" class="form-label">Imagen:</label>
                                <div>
                                    <input type="file" id="image" name="image" class="form-input">
                                    <p class="error-message" id="error-image"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.image) { %>
                                        <%= errors.image.msg %>
                                            <% }%>
                                </div>
                            </div>
                            
                          <div class="idUser" id="roles">
                                <label>Dirección</label>
                                <div>
                                    <input type="text" name="address" id="address" class="input-control" value="<%= locals.oldData ? oldData.address : null %>">
                                    <p class="error-message" id="error-address"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.address) { %>
                                        <%= errors.address.msg %>
                                            <% }%>
                                </div>
                            </div>
                        </div>
                        <div class="divCorreoContrasena">
                            <div class="correo">
                                <label>Correo:</label>
                                <div>
                                    <input type="email" name="email" id="email" class="input-control" value="<%= locals.oldData ? oldData.email : null %>">
                                    <p class="error-message" id="error-email"></p>
                                </div>
                                    <div class="validator ">
                                    <% if (locals.errors && errors.email) { %>
                                        <%= errors.email.msg %>
                                            <% }%>
                                </div>
                            </div>
                            <div class="contrasena">
                                <label>Contraseña:</label>
                                <div>
                                    <input type="password" name="password" id="password" class="input-control" >
                                    <p class="error-message" id="error-password"></p>
                                </div>
                                    <div class="validator">
                                    <% if (locals.errors && errors.password) { %>
                                        <%= errors.password.msg %>
                                            <% }%>
                                </div>
                            </div>
                        </div>

                        <div class="boton-guardar">
                            <button type="submit" class="boton-formulario">ENVIAR</button>
                            <button type="delete" class="boton-formulario">BORRAR</button>
                        </div>
                    </form>
                </div>
            </div>
        <%- include('../partials/footer') %>
        <script src="/js/validateRegisterUsers.js"></script>
    </body>

    </html>